@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

  @keyframes highlight {
    0% {
      background-size: 0% 90%; /* Start with no highlight */
    }
    100% {
      background-size: 100% 90%; /* Grow to full width */
    }
  }

  .highlighted-text {
    background-image: linear-gradient(90deg, #E6E0FE, #E6E0FE); /* No transparency */
    background-size: 0% auto; /* Start with no highlight */
    background-repeat: no-repeat; /* Prevent repeating */
    animation: highlight .6s linear forwards; /* Forward fill mode to keep the end state */
    display: inline-block;
    animation-iteration-count: 1; /* Run animation only once */
  }


html {
  scroll-behavior: smooth;
}

::selection {
    background-color: #ffcc00; /* Change to your desired color */
    color: #333; /* Change to the text color you want */
}



/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-optical-sizing: none;
  	font-weight: normal;
  	font-style: normal;
  	line-height: 1.25;
    margin: 0;
    padding: 0;
    background-color: #FFFEFD;
    color: #2B2B2B;
    }


    

.homecontainer {
  width: 100%;
  margin: 0 auto;
  padding: 24px 6.67%;
  max-width: 1600px;

}




header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    display: flex; /* Use flexbox */   
    align-items: center;
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
}

.logo:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
}

.logo img {
  width: clamp(2rem, 5.33vw + 0.67rem, 4rem); /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 16px; /* Add some right margin for spacing */
  
}


nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}



main {
  padding: 40px 0;
}


.section {
  width: 100%;
  gap: clamp(1rem, 5.33vw + -0.33rem, 3rem);
  display: flex;
  flex-wrap: wrap;
  padding: clamp(2rem, 10.67vw + -0.67rem, 6rem) 0;
  }

.left-column {
   
    flex: 0 0 60%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    }
.right-column {
   
    flex: 0 0 35%;
    display: inline-block;
    align-content: center;
    flex-wrap: wrap;
    }

.half-column{
    flex: 0 0 47%;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    gap: 0px;
    padding-right: 48px;
    
}

.full-column{
    flex: 0 0 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
    
}

@media (max-width: 1200px) {
  .left-column, .right-column {
    flex: 0 0 100%; /* Full width */
  }
}

@media (max-width: 900px) {
  .half-column {
    flex: 0 0 100%; /* Full width */
  }
}

    
    
 .fcards {
     display: flex;
     flex-wrap: wrap;
     padding: 24px 0 48px 0;
     gap: 16px;
     width: 100%;
}   

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    background-color: #F9F8FF;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); 
        
}

.workCard {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Push all content to the bottom */
  align-items: center; /* Center content horizontally */
  flex: 1;
  gap: 16px; /* Adjust spacing between elements */
  padding: 16px;

}

.workCard img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
}

.workCard p {
  margin: 0;
  text-align: center; /* Explicitly center the text */
}


.flexItems {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0 48px 0;
  gap: 16px;
  width: 100%;
}   




@media (max-width: 1200px) {
   .card{
    flex: 0 0 48%; 
    padding: 16px;
    gap: 8px;
    }
}

@media (max-width: 600px) {
   .card{
    flex: 0 0 100%; 
    padding: 16px;
    gap: 8px;
    }
}

@media (max-width: 500px) {
    .fcards{
    gap: 12px;
    }
}

.mainimage {
    margin: 96px 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}

.mainimageTransparent {
  margin: 96px 0;
  width: 100%;
  border-radius: 8px;

}

.projdescription {
    padding: 40px 0;
    line-height: 160%;
}

.projcard {
    display: flex;
    flex: 1;
    flex-direction: column;
           
}

.projsection {
  width: 100%;
  gap: 48px;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0;
  }

.sectiontitle {
    margin-bottom: 16px;
}

.bodytext {
    margin-bottom: 16px;
}

.staticimage {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}

.noshadowimage {
    width: 100%;
}

.arrow {
    width: clamp(1rem, 4.67vw + -0.17rem, 2.75rem);
    }    
    
    
.projectTitle {
    margin-bottom: 16px
}

.projectDescription {
    margin-bottom: 24px;
    
    
}

.pw {
    margin-top: 8px;
    margin-bottom: 24px;
    color: #7A7A7A;
}

.projectImage {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    
    }
.projectImage:hover{
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.caption {
    margin-top: 8px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-top: 2px solid;
  border-color: #2B2B2B;
}




    

.hero {
    width: clamp(16.25rem, 68.89vw + 3.33rem, 55rem);
    padding: 0 0 12% 0;
}

@media (max-width: 600px) {
    .fcards{
    gap: 12px;
    }
}

.about {
    display: flex;
    flex: 1;
    gap: 16px;
    flex-direction: column;
    width: clamp(16.25rem, 68.89vw + 3.33rem, 55rem); 
    justify-content: start;
    padding: 0 0 12% 0;
    margin-right: auto;
}

.pwmain {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    height: 100vh; /* make body full height of viewport */
    width: 100vw,
      

}

.pwcontainer {
    width: max-content;
    margin: 50px auto;
    text-align: center;
    
}

.inputcontainer {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 24px;
    padding: 20% 0% 2%;

}

.contactform {
    display: flex;
    flex: 1;
    gap: 16px;
    flex-direction: column;
    width: clamp(16.25rem, 68.89vw + 3.33rem, 55rem); 
    padding: 0 0 10% 0;

}



input {
    flex: 1; /* Make input fill remaining space */
    padding: 16px;
    border: 0px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: clamp(0.75rem, 1.33vw + 0.42rem, 1.25rem);
	font-weight: normal;
	font-family: Raleway, sans-serif;
   
}



input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); /* Add a box shadow on focus */
}



textarea[type="textinput"] {
    flex: 1; /* Make input fill remaining space */
    padding: 16px;
    border: 0px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: clamp(0.75rem, 1.33vw + 0.42rem, 1.25rem);
	font-weight: normal;
	font-family: Raleway, sans-serif;
	margin-bottom: 24px;

    
}



textarea[type="textinput"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); /* Add a box shadow on focus */
}






button {
    width: fit-content;
    cursor: pointer;
    color: #2B2B2B;
    background-color: transparent;
    border: 0;
}
button:hover {
   color: #7A7A7A;
   }

.error-msg {
    color: #2B2B2B;
    padding-left: 16px;
    text-align: left;
    height: 24px;

}

a {
    color: #2B2B2B;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #7A7A7A;
}


.linkshow { 
    color: #412E8B;
    text-decoration: underline;
    cursor: pointer; 
}

.linkshow:hover {
  background-image: linear-gradient(0deg, #412E8B, #412E8B); /* No transparency */
  color: #FFFEFD;
  background-size:  auto 0%; /* Start with no highlight */
  background-repeat: no-repeat; /* Prevent repeating */
  animation: highlight .05s linear forwards; /* Forward fill mode to keep the end state */
  text-decoration: none;
  animation-iteration-count: 1; /* Run animation only once */
}



/* Hide sections by default */
.animatesection {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Show sections when they become visible */
.animatesection.show {
  opacity: 1;
  transform: translateY(0);
}



/* fonts */
.XXL { 
font-size: clamp(4rem, 10.67vw + 1.33rem, 8rem);
font-weight: normal;
}
.XL { 
font-size: clamp(2.5rem, 4vw + 1.5rem, 4rem);
font-weight: normal;
}
.L { 
font-size: clamp(2rem, 2.67vw + 1.33rem, 3rem);
font-weight: normal;
}
.M { 
font-size: clamp(1.5rem, 1.33vw + 1.17rem, 2rem);
font-weight: normal;
}
.S { 
font-size: clamp(1.375rem, 0.33vw + 1.29rem, 1.5rem);
font-weight: normal;
}
.XS { 
font-size: clamp(1.25rem, 0vw + 1.25rem, 1.25rem);
font-weight: normal;
line-height: 1.6;
}
.XXS { 
font-size: clamp(1rem, 0vw + 1rem, 1rem);
font-weight: normal;
}



.boldtext {
	font-weight: 700;
	}	
.mediumtext {
	font-weight: 500;
	}	
